<table mat-table [dataSource]="dataSourceDetalle" class="mat-elevation-z8 demo-table">
  <caption class="mat-elevation-z8">Detalle del Parqueo</caption>
  <ng-container matColumnDef="fecha hora inicio">
    <th mat-header-cell *matHeaderCellDef> Fecha hora inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaHoraInicio}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha hora fin">
    <th mat-header-cell *matHeaderCellDef> Fecha hora fin </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaHoraFin}} </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.valor | currency}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="primary">Cancelar</button>
</div>
